<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @gun.brand.name unless @gun.brand.nil? %>
</p>

<p>
  <strong>Name:</strong>
  <%= @gun.name %>
</p>

<p>
  <strong>Caliber:</strong>
  <%= @gun.caliber %>
</p>

<p>
  <strong>Image:</strong>
  <%= gun_image(@gun) %>
</p>

<%= link_to 'Edit', edit_gun_path(@gun) %>

<% if (current_user) %>
  <% if (current_user.favorite_guns.include?(@gun)) %>
    <p>Gun in favorites</p>
  <% else %>
    <p>
      <button class="button"><%= link_to 'Add to favorites', "/users/#{current_user.id}/add_gun_to_favorites/#{@gun.id}", method: :put %></button>
    </p>
  <% end %>
<% end %>




<h2>Favorited by</h2>
<table class="table table-striped">
  <tbody>
    <% @gun.favored_by.each do |user| %>
      <tr>
        <td><%= link_to "#{user.first_name} #{user.last_name}", user %></td>
      </tr>
    <% end %>
  </tbody>
</table>



