<h1>Login</h1>

<%= form_for :login, url: '/authenticate' do |f| %>
	<p>
	<%= f.label "email" %><br>
    <%= f.email_field :email %><br>
    </p>
    <p>
    <%= f.label "password" %><br>
    <%= f.password_field :password %><br>
	</p>
    <%= f.submit "login" %>

<% end %>

<a href="">Create Account</a>