<p id="notice"><%= notice %></p>


<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
<p>
  <%= @user.email %>
</p>
<% if (current_user && current_user.id == @user.id) %>
<p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Logout', logout_path %>
</p>
<% end %>

<h3>Favorites  <%= @user.favorite_brands.count unless @user.favorite_brands.nil? %></h3>
<% @user.favorite_brands.each do |b| %>
	<%= link_to b.name, b %> 
<% end %>


<h3>Favorite Guns</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Caliber</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.favorite_guns.each do |gun| %>
      <tr>
        <td><%= link_to gun.name, gun %></td>
        <td><%= gun_image(gun) %></td>
        <td><%= gun.caliber %></td>
        <% if (current_user && current_user.id == @user.id) %>
        <td><%= link_to 'Remove', "/users/#{@user.id}/remove_gun_from_favorites/#{gun.id}", method: :put %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


