<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<h3>Favorite Guns</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Caliber</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.favorite_guns.each do |gun| %>

      <tr>
        <td><%= gun.name %></td>
        <td><%= gun_image(gun)%></td>
        <td><%= gun.caliber %></td>
        <td><%= link_to 'Show', gun %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Logout', logout_path %>
